<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Department info</title>
</head>
<body>

<h2>Show the department info</h2>

<p th:if="${department} == null">Department not found</p>

<th:block th:if="${department}">
    <strong th:text="${department.id}"></strong>
    <strong th:text="${department.name}"></strong>
    <strong th:text="${department.description}"></strong>
</th:block>

<br/>

<a th:href="@{/department/}">List departments</a>

</body>
</html>